.text-center {
  ion-text {
    height: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.main{
  padding-right: 3px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  #noData {
    height: 460px;
  }
}

#noData {
  height: 300px;
}
