<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addSensor()">
        <ion-icon class="add-icon" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-content">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="!showUserSensors">
    <ion-card-header>
      <ion-card-title> No Sensors Found </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p> Please add a sensor to get started </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <div *ngFor="let sensorDetails of sensorDetailsList">
    <app-sensor-summery-card [sensorDetails]="sensorDetails"></app-sensor-summery-card>
  </div>
</ion-content>