<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addSensor()">
        <ion-icon class="add-icon" slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="scrollToTop()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content
  class="scroll-content"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <div *ngIf="sensors$ | async as sensors">
    <app-collective-sensor-summery [sensors]="sensors"></app-collective-sensor-summery>
  </div>
  <div *ngIf="sensors$ | async as sensors" class="display-flex-horizontal">
    <div *ngFor="let sensor of sensors">
      <app-micro-sensor-summery [sensor]="sensor"></app-micro-sensor-summery>
    </div>
  </div>
  <ion-card *ngIf="!(sensors$ | async)?.length">
    <ion-card-header>
      <ion-card-title> No Sensors Found </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>Please add a sensor to get started</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
