<ion-header>
  <ion-toolbar>
    <ion-title>Add Sensor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-content">
  <ion-card *ngIf="currentStep === 'config'">
    <ion-card-header>
      <ion-card-title>Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="help-tip">Connect to Sensor's wifi to set it up, you can test if you are connected to it
        below.</ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="currentStep === 'config'">
    <ion-card-header>
      <ion-card-title>Connection Test</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="connection-test-results">
        <!-- spinner while loading -->
        <ion-text color="danger" *ngIf="!connectionTested && connectionTested !== null">
          <ion-icon name="close-circle-outline"></ion-icon>
          Connection Failed
        </ion-text>
        <ion-text color="success" *ngIf="connectionTested">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Connection Successful
        </ion-text>
        <ion-spinner *ngIf="testLoading" name="crescent" color="primary"></ion-spinner>
      </div>
      <ion-button expand="full" shape="round" (click)="testConnection()">Test Connection</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="currentStep === 'config'">
    <ion-card-header>
      <ion-card-title>Sensor Connection Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- spinner with text 'generating pin' -->
      <div class="connection-test-results" *ngIf="!wifiForm">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
        <ion-text>Generating Pin</ion-text>
      </div>
      <form [@formAnimation] *ngIf="wifiForm" [formGroup]="wifiForm" (ngSubmit)="submitForm()">
        <ion-item>
          <ion-label floating>Pin:</ion-label>
          <ion-input type="text" formControlName="pin"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Wifi Name:</ion-label>
          <ion-input type="text" formControlName="wifiName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Wifi Password:</ion-label>
          <ion-input type="password" formControlName="wifiPassword"></ion-input>
        </ion-item>

        <ion-button class="formButton" expand="full" shape="round" type="submit">Submit</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="currentStep === 'details'">
    <ion-card-header>
      <ion-card-title>Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="help-tip">Connect back to your network, the following details we be saved on the
        cloud.</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="currentStep==='waiting'">
    <ion-card-header>
      <ion-card-title>Waiting for Sensor to Connect</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="connection-test-results">
        <ion-text class="help-tip">Awaiting sensor to connect to server, this might take a minute. To setup further
          sensor
          details please wait.</ion-text>
        <div class="spinner-div">
          <ion-spinner name="crescent" color="primary"></ion-spinner>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="currentStep === 'details'" [@formAnimation]>
    <ion-card-header>
      <ion-card-title>Sensor Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="sensorDetailsForm" (ngSubmit)="submitDetailsForm()">
        <ion-list>
          <ion-item>
            <ion-label floating>Sensor Name:</ion-label>
            <ion-input type="text" formControlName="sensorName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Location:</ion-label>
            <ion-input type="text" formControlName="sensorLocation"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Description:</ion-label>
            <ion-input type="text" formControlName="description"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Active:</ion-label>
            <ion-checkbox formControlName="active"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Allow group admins to edit details:</ion-label>
            <ion-checkbox formControlName="allowAdminsToEdit"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Activate alerts:</ion-label>
            <ion-checkbox formControlName="allowNotifications"></ion-checkbox>
          </ion-item>

          <ion-item *ngIf="showAlertDetails">
            <ion-label>Max Temperature threshold:</ion-label>
            <ion-input type="float" formControlName="maxTempAllowed"></ion-input>
          </ion-item>

          <ion-item *ngIf="showAlertDetails">
            <ion-label>Min Temperature threshold:</ion-label>
            <ion-input type="float" formControlName="minTempAllowed"></ion-input>
          </ion-item>

          <ion-item *ngIf="showAlertDetails">
            <ion-label>Max Humidity threshold:</ion-label>
            <ion-input type="float" formControlName="maxHumAllowed"></ion-input>
          </ion-item>

          <ion-item *ngIf="showAlertDetails">
            <ion-label>Min Humidity threshold:</ion-label>
            <ion-input type="float" formControlName="minHumAllowed"></ion-input>
          </ion-item>

        </ion-list>
        <ion-button class="formButton" expand="full" shape="round" type="submit">Submit</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <div class="done" *ngIf="currentStep === 'done'">
    <div class="flex-colum">
      <ion-text class="help-tip">Sensor will be visible in your home page.</ion-text>
      <ion-text class="help-tip">You can also edit it's details any time.</ion-text>
      <ion-button size="large" (click)="done()" expand="half" shape="round">Done
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>