<ion-header [translucent]="true">
  <ion-toolbar *ngIf="groupData$ | async as groupData">
    <ion-title *ngIf="groupData.data; else defaultTitle">{{groupData.data.group.name}}</ion-title>
    <ng-template #defaultTitle>
      <ion-title>Group</ion-title>
    </ng-template>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf="groupData$ | async as groupData">
  <div [ngSwitch]="groupData.state">
    <div *ngSwitchCase="'LOADING'"></div>
    <div *ngSwitchCase="'LOADED'">
      <div *ngIf="groupData.data; else noDataBlock">
        <ion-content [fullscreen]="true">
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button color="primary" (click)="addSensor()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-content>
      </div>
      <!-- no group data logic below -->
      <ng-template #noDataBlock>

      </ng-template>
    </div>
    <div *ngSwitchCase="'ERROR'"></div>
    <div *ngSwitchCase="'EMPTY'"></div>
  </div>
</div>