<app-side-bar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="analytics">
        <ion-icon aria-hidden="true" name="analytics"></ion-icon>
        <ion-label>My Data</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="home">
        <ion-icon aria-hidden="true" name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="groups">
        <ion-icon aria-hidden="true" name="people"></ion-icon>
        <ion-label>Groups</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</app-side-bar>