<ion-header>
  <ion-toolbar>
    <ion-title>Edit Group Members</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-content">
  <div *ngIf="groupDetails$ | async as groupDetails">
    <div *ngFor="let member of groupDetails.data!.members">
      <ion-item>
        <ion-label>
          <p>Username: {{ member.username }}</p>
          <p>Email: {{ member.email }}</p>
        </ion-label>
        <ion-button
          fill="clear"
          slot="end"
          (click)="removeMember(member.username)"
        >
          <ion-icon
            slot="icon-only"
            name="close-outline"
            color="danger"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <ion-label>Username :</ion-label>
        <ion-input [(ngModel)]="usernameInForm"></ion-input>
      </ion-item>
      <ion-progress-bar
        *ngIf="state === 'LOADING'"
        type="indeterminate"
      ></ion-progress-bar>
      <div *ngIf="state === 'ERROR'">
        <ion-item>
          <ion-label
            ><h2 class="title-error">Error adding member</h2>
            <p>Reason: {{ errorMessage ? errorMessage : "unknown" }}</p>
          </ion-label>
        </ion-item>
      </div>
      <ion-button
        expand="block"
        (click)="submit()"
        [disabled]="state === 'LOADING'"
        >Add member</ion-button
      >
    </div>
  </div>
</ion-content>
