<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sensor Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="sensor">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title>{{sensor.name}}</ion-title>
      </ion-toolbar>
    </ion-header>


  </div>

  <ion-datetime-button datetime="datetime" (ionChange)="datetimeChanged($event)"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>