.theme-cont-side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

ion-segment-button{
  opacity: 0;
  visibility: hidden;
}

ion-icon {
    padding: 5px;
    font-size: 45px;
  }