.theme-cont-side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.hide-options {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 0.3s ease-out, width 0.3s ease-out;
  }

ion-icon {
    padding: 5px;
    font-size: 45px;
  }